<template>
  <div class="contact-office-bg">
    <section class="section-wrap office-section">
      <div class="tabs-wrap">
        <div class="title white">Our Offices</div>

        <div class="tabs">
          <div class="tab-buttons">
            <ul>
              <li v-for="item of tabsItems"
                  :class="currentTab.id === item.id ? 'green' : '' "
                  :key="item.id"
                  @click="setTab(item)"
              >{{ item.city }}</li>
            </ul>
          </div>

          <div class="tab-content">
            <div class="item"
                 :class="currentTab.id ===  item.id ? 'active' : '' "
                 v-for="item of tabsItems"
                 :key="item.id"
            >
              <h3>{{ item.title }}</h3>
              <ul><li v-for="address of item.address" :key="address">{{ address }}</li></ul>
            </div>
          </div>
        </div>
      </div>

      <div class="map">
        <gmap-map
          :options="mapStyle"
          :center="currentTab.center"
          id="map"
        >
          <gmap-marker
            :position="currentTab.center"
            :clickable="true"
            :draggable="true"
          >
          </gmap-marker>
        </gmap-map>
      </div>
    </section>
  </div>
</template>

<script>
  import { mapStyle }  from '@/data/googleMapStyle.js'
  import { officeItems } from "@/data/officesItems.js";

  export default {
    name: "ContactOffices",
    data() {
      return {
        mapStyle: {
          disableDefaultUI: true,
          zoom: 10,
          styles: null,
        },
        currentTab: null,
        tabsItems: null
      }
    },

    methods: {
      setTab(tab) {
        this.currentTab = tab;
      },

      init() {
        this.mapStyle.styles = mapStyle;
        this.tabsItems = officeItems;
        this.currentTab = this.tabsItems[0]
      }
    },

    created() {
      this.init();
    }
  }
</script>

<style scoped lang="scss">
  @import "../assets/styles/vars";

  #map {
    height: 100%;
    min-height: 300px;
  }

  .office-section {
    padding: 0;
  }

  .tabs-wrap {
    padding: 3rem;
  }

  .contact-office-bg {
    background-color: $darkGrey;
  }

  .tabs {
    color: #fff;

    .tab-buttons {
      margin-bottom: 2rem;

      ul {
        display: flex;

        li {
          margin-right: 1rem;
          cursor: pointer;
        }
      }
    }

    .tab-content {
      .item {
        display: none;

        h3 {
          font-size: 1.5rem;
          margin-bottom: 1.5rem;
        }

        ul {
          font-size: .8rem;

          li {
            margin-bottom: .3rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 800px){
     .tabs-wrap {
       padding: 1rem;
     }
  }

</style>
