<template>
  <section>
    <h1>Contacts</h1>

    <div class="section-wrap">
      <div class="headquarters">
        <div class="title">
          <span class="green">CMS </span>
          <span>Headquarters</span>
        </div>

        <div class="headquarters-content">
          <div class="headquarters-content-item">
            <ul>
              <li>Global Message Services Ukraine LLC</li>
              <li>Bundesstrasse 5 | 3rd Floor</li>
              <li>6300 Zug</li>
              <li>Switzerland</li>
            </ul>

            <a href="tel:+41415446200" class="green phone">+41 41 544 62 00</a>
          </div>

          <div class="headquarters-content-item">
            <ul>
              <li>
                <div>Email</div>
                <a href="mailto:info@gms-worldwide.com" class="green">info@gms-worldwide.com</a>
              </li>

              <li>
                <div>Send message</div>
                <a href="#" class="green">Viber us</a>
              </li>

              <li>
                <div>Send form</div>
                <a href="#" class="green">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="support">
        <div class="title">
          <span>Technical support </span>
          <span class="green">24/7</span>
        </div>

        <div class="text">
          <p>GMS understands that it can be hard to follow all new technologies. We regularly provide for all our clients educational trainings to make your operator`s business earn more and better though our best practices.</p>
        </div>

        <a href="tel:+41415446206" class="green phone">+41 41 544 62 06</a>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "ContactInfo"
  }
</script>

<style scoped lang="scss">
  @import "../assets/styles/vars";

  h1 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
  }

  .phone {
    font-size: 1.2rem;
  }

  .headquarters-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  .headquarters-content-item {
    ul {
      font-size: .9rem;
      margin-bottom: 2rem;

      li {
        margin-bottom: .4rem;

        div {
          margin-bottom: .5rem;
        }

        a {
          font-family: $semiBold;
        }
      }
    }
  }

  .support {
    .text {
      font-size: .9rem;
      margin-bottom: 2rem;
    }
  }

</style>
