<template>
  <div class="contact-form-bg">
    <section>
      <div class="title white">
        Contact Us
      </div>

      <div class="section-wrap">
        <div>
          <template v-if="errors.length">
            <ul class="error">
              <li v-for="err of errors" :key="err">{{err.text}}</li>
            </ul>
          </template>

          <form class="form" @submit.prevent="onSubmit">
            <label>
              <input type="text" v-model="form.name" placeholder="Name">
            </label>

            <label>
              <the-mask mask="+38093########" v-model="form.phone" type="tel" placeholder="Phone" />
            </label>

            <label>
              <input type="text" v-model="form.email" placeholder="E-mail">
            </label>

            <label class="checkbox">
              <input type="checkbox" v-model="form.checkbox">
              <span>I agree the processing of personal data</span>
            </label>

            <div class="button-wrap">
              <button :disabled="!validForm"
                      type="submit"
                      class="btn"
                      :class="!validForm ? 'disabled' : '' "
              >Get in touch</button>
            </div>
          </form>
        </div>

        <div>
          <p>Please tell us more about your request and give us info about your company and country</p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
  import { TheMask } from 'vue-the-mask'

  export default {
    name: "ContactForm",
    components: { TheMask },
    data() {
      return {
        form: {},
        errors: [],
      };
    },

    methods: {
      onSubmit() {
        if (this.checkForm()) {
          const formData = {
            name: this.form.name,
            phone: this.form.phone,
            email: this.form.email,
            checkbox: this.form.checkbox
          };

          this.axios.post('http://httpbin.org/post', formData)
          .then(res => {
            console.log('res', res);
          })
          .catch(err => {
            console.log('err', err);
          })
        }
      },

      checkForm() {
        this.errors = [];

        if (!this.validName(this.form.name)) {
          this.errors.push({type: 'name', text: 'Name can contain only letters and spaces'})
        } else if (this.form.name.length > 30) {
          this.errors.push({type: 'name', text: 'Name cannot be longer than 30 characters'})
        }
        if (!this.validEmail(this.form.email)) this.errors.push({type: 'email', text: 'Email is not correct' });

        if (!this.errors.length) {
          return true
        }
      },

      validName(name) {
        const regExp = /^[a-zA-Z\s]*[а-яА-Я\s]*$/;
        return regExp.test(name);
      },

      validEmail(email) {
        const regExp = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return regExp.test(email);
      },
    },

    computed: {
      validForm() {
        return Boolean(this.form.name && this.form.phone && this.form.email && this.form.checkbox)
      }
    }
  }
</script>

<style scoped lang="scss">

  .form {
    display: grid;
    grid-gap: 1.5rem;

    label {
      width: 100%;

      input {
        width: 100%;
        background-color: transparent;
        color: #fff;
        border: none;
        border-bottom: 1px solid #000000;
        padding: .5rem 0;
        outline: none;
      }

      input::placeholder {
        color: #000;
      }

      input:focus {
        border-bottom: 1px solid #ffffff;
      }

      input:focus::placeholder {
        color: #fff;
      }
    }

    .checkbox {
      display: grid;
      grid-template-columns: 25px 1fr;

      input, span {
        align-self: center;
      }

      span {
        color: #fff;
      }
    }
  }

  .contact-form-bg {
    background-image: url("../assets/images/pattern.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

</style>
