<template>
  <div id="app">
    <contact-info />
    <contact-offices />
    <contact-form />
  </div>
</template>

<script>

import  ContactInfo from './components/ContactInfo'
import  ContactOffices from './components/ContactOffices'
import  ContactForm from './components/ContactForm'

export default {
  name: 'app',
  components: {ContactInfo, ContactOffices, ContactForm }
}
</script>

<style lang="scss">

  @import "assets/styles/index";

</style>
