.btn {
  background-color: $darkGrey;
  border: none;
  padding: 1.3rem 3rem;
  color: #fff;
  font-size: .7rem;
  text-transform: uppercase;
  transition: background-color $s;
  cursor: pointer;

  &:hover {
    background-color: lighten($darkGrey, 7%)
  }
}

