@font-face {
  font-family: "SuisseIntl";
  src: url('./assets/fonts/SuisseIntl.woff');
}
@font-face {
  font-family: "SuisseIntl-Light";
  src: url('./assets/fonts/SuisseIntl-Light.woff');
}
@font-face {
  font-family: "SuisseIntl-SemiBold";
  src: url('./assets/fonts/SuisseIntl-SemiBold.woff');
}
