* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $light;
  font-size: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 1rem;
}

a {
  cursor: pointer;
  text-decoration: none
}

ul {
  list-style-type: none;
}

section {
  padding: 3rem 3rem;
}

.title {
  font-size: 1.7rem;
  margin-bottom: 1.5rem;
}

.green {
  color: $green;
}

.white {
  color: #fff;
}

.section-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
}

.error {
  color: red;
}

.disabled {
  background-color: lighten($darkGrey, 10%) !important;
  cursor: auto!important;
}

.active {
  display: block!important;
}

@media screen and (max-width: 800px){
  .section-wrap {
    grid-template-columns: 1fr;
  }

  section {
    padding: 2rem 1rem;
  }
}
